################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs
/Backend/CoreAPI/bin
/Backend/CoreAPI/obj
/Backend/Infrastructure/bin/Test/net6.0
/Backend/Infrastructure/bin
/Backend/Infrastructure/obj/Debug/net6.0
/Backend/Infrastructure/obj
/Backend/Tests/bin
/Backend/Tests/obj/Debug/net6.0
/Backend/Tests/obj
Frontend/yarn.lock
Frontend/package-lock.json
/Backend/bin/Debug
/Backend/obj/Debug
/Backend/obj/Docker/obj/Docker
/Backend/obj/Docker
/.vs